module.exports = {
    host:"localhost",
    user:"root",
    password:"password",
    database:"database_name",
    class_table: "classes",
    group_table: "groups",
    toolbar_table: "toolbars",
    session_table: "sessions",
    admin_table: "admins",
    log_table: "logs",
    xml_table: "xml"
}