module.exports = {
    host:"localhost",
    user:"test",
    password:"password",
    database:"database_name",
    class_table:"class_table_name",
    group_table:"group_table_name",
    toolbar_table:"toolbar_table_name",
    admin_table:"admin_table_name",
    session_table:"session_table_name"
}

}
